@media screen and (max-width: 767px) {
	.table-responsive {
		border: none;
	}
	table.footable-details {
		white-space: initial;
	}
}

table.footable-details > tbody > tr > td:nth-child(2) {
	word-break: break-word;
}

.form-inline .form-group {
	margin-right: 5px;
}
/*
.footer {
	padding-top: 19px;
	border-top: 1px solid #e5e5e5;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
*/

.footer {
	position: relative;
}

.footer .collapse,
.footer .collapsing {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 56px;
}